/* application level css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* blog styles */
.post-title {
    display: inline;
    cursor: pointer;
}

.btn { /* overrides bootstrap's button style to add a bottom margin*/
    margin-bottom: 20px;
}

.post-timestamp {
    font-size: 8px;
}

#header {
    background-image: url('../images/cover.jpg');
}

#header h2 a {
    color: white;
}

#header h2 a:hover {
    color: rgba(182, 180, 180, 0.74);
    text-decoration: none;
}

.name {
    display: inline-block;
}

.profile-pic {
    margin: 20px 20px 20px 20px;
}

.post-body {
    margin: 20px 20px 20px 20px;
}
