<!-- navigation -->
<div ng-include src="'partials/nav.html'"></div>

<!-- new blog post button -->
<a href="#/blog/new" class="btn new-post-button">New Post</a>

<!-- lists blog posts from newest to oldest -->
<div ng-repeat="post in posts | reverse" class="post">
    <h4 ng-click="view(post.id)" class="post-title">{{post.title}}</h4>
    <a href="#/blog/edit/{{post.id}}"><i class="icon-pencil"></i></a>
    <div class="post-body well">
        <p>{{post.text}}</p>
        <p class="post-timestamp">Posted on: {{post.timestamp | date:'fullDate'}}</p>
    </div>
</div>