<!-- navigation -->
<div ng-include src="'partials/nav.html'"></div>

<!-- Show title, timestamp, and body -->
<h4>{{post.title}}</h4>
<p>{{post.datetime | date:'fullDate'}}</p>
<p>{{post.body}}</p>

<!-- new blog post button -->
<a href="#/blog/{{post._id.$oid}}/comments/new" class="btn">New Comment</a>

<!-- lists comments from newest to oldest -->
<div ng-repeat="comment in comments | reverse | comment:post._id.$oid">
    <!--<div ng-show="{{comment.postId}} == {{post._id.$oid}}">-->
        <p>{{comment.timestamp | date:'fullDate'}}</p>
        <p>{{comment.body}}</p>
    <!--</div>-->
</div>
