<!-- navigation -->
<div ng-include src="'views/nav.html'"></div>

<!-- Show title, timestamp, and body -->
<h4>{{post.title}}</h4>
<p>{{post.datetime | date:'fullDate'}}</p>
<p>{{post.text}}</p>

<!-- new blog post button -->
<a href="#/blog/{{post.id}}/comments/new" class="btn">New Comment</a>

<!-- lists comments from newest to oldest -->
<!--<div ng-repeat="comment in comments | reverse | comment:post._id.$oid">-->
<div ng-repeat="comment in post.comments | reverse" class="well">
    <p>{{comment.email}}</p>
    <p class="post-timestamp">{{comment.timestamp | date:'fullDate'}}</p>
    <p>{{comment.text}}</p>
    <a ng-click="destroy(comment.id)" class="btn btn-danger">Delete</a>
</div>
